<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <% if (route_path && route_path == '/article/:id') { %>
      <!-- 显示文章标题 -->
      <title><%=  article.title %></title>
    <%}else if(route_path && route_path === '/column/:id'){ %>
      <!-- 显示专栏标题 -->
      <title><%= column.title %></title>
    <%}else{ %>
      <!-- 默认标题 -->
      <title>Tech&Share-专注IT技术分享</title>
    <%} %>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="技术博客,前端、后端技术分享,高级前端工程师">
    <!-- 基础样式 -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/editor.css" />
    <!-- 文章列表相关样式，文章页、专栏列表页、专栏内容页（包含文章列表），检索结果页 -->
    <% if(route_path === '/' || route_path === '/article-list' || route_path === '/column' || route_path == '/column/:id'|| route_path == '/search'){ %>
    <link rel="stylesheet" href="/css/article-list.css" />
    <% }%>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DS0PMB7L71"></script>
    <!-- GA全局代码 -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DS0PMB7L71');
    </script>
  </head>
  <body>
    <%- include('./component/header.ejs') %> 
    <% if (route_path == '/article/:id') { %>
      <!-- 文章内容 -->
      <%- include('./component/article-content.ejs') %>
    <%}else if(route_path === '/'){ %>
      <!-- 首页 -->
      <div class="article-box">
        <% articles.forEach(function(article){ %> 
          <%- include('./component/post-item.ejs', {post: article,isColumn:article.column_id ? true:false}) %> 
        <% }); %>
      </div>
    <%}else if(route_path === '/article-list'){ %>
      <!-- 文章列表页 -->
      <div class="article-box">
        <% articles.forEach(function(article){ %> 
          <%- include('./component/post-item.ejs', {post: article,isColumn:false}) %> 
        <% }); %>
        <!-- 分页检索 -->
        <div class="pagination">
          <%- pagination %>
        </div>
        <!-- 没有数据 -->
        <% if(articles.length === 0){ %>
          <h3>暂无数据！</h3>
        <% }%>
      </div>
      <%}else if(route_path === '/search'){ %>
        <!-- 检索页 -->
        <div class="article-box">
          <% articles.forEach(function(article){ %> 
            <%- include('./component/post-item.ejs', {post: article,isColumn:article.column_id ? true:false}) %> 
          <% }); %>
          <!-- 分页检索 -->
          <div class="pagination">
            <%- pagination %>
          </div>
          <!-- 没有数据 -->
          <% if(articles.length === 0){ %>
            <h3>暂无数据！</h3>
          <% }%>
        </div>
    <%}else if(route_path === '/column'){ %>
      <!-- 专栏 -->
      <div class="article-box">
        <p style="text-align: right;">

          <% if(isLogged){ %>
            <button class="link">
              <a href="/manage/create-column">+创建专栏</a>
            </button>
          <% }%>
        </p>
        <% columns.forEach(function(column){ %> 
          <%- include('./component/post-item.ejs', {post: column,isColumn:true}) %> 
        <% }); %>
        <!-- 分页检索 -->
        <div class="pagination">
          <%- pagination %>
        </div>
        <!-- 没有数据 -->
        <% if(columns.length === 0){ %>
          <h3>暂无数据！</h3>
        <% }%>
      </div>
      <%}else if(route_path === '/column/:id'){ %>
        <!-- 专栏内容页 -->
        <div style="background-color: #fff;box-shadow: rgba(18,18,18,.10) 0 1px 3px 0px;padding:16px 0;">
          <div style="max-width: 900px;padding:0 16px;box-sizing:border-box;margin:0 auto;">
            <img style="max-width: 400px;" src="<%= imgBaseUrl + column.covername %>" alt="">
            <h1><%= column.title %></h1>
            <p><%= column.description %></p>
            <p>
              <span style="color: #919DA9;margin-right: 20px;">
                文章数：<%= articles.length %>
              </span>
              <% if(isLogged){ %>
                <button class="link">
                  <a  href="/manage/create-post?column_id=<%= column.id %>">+发布专栏文章</a>
                </button>
              <% }%>
              
              </p>
          </div>
        </div>
        <div class="article-box">
          <% articles.forEach(function(article){ %> 
            <%- include('./component/post-item.ejs', {post: article,isColumn:false}) %> 
          <% }); %>
          <!-- 没有数据 -->
          <% if(articles.length === 0){ %>
            <h3>暂无数据！</h3>
          <% }%>
        </div>
    <% } %>
    <!-- 友情链接 -->
    <div class="friendly-link-box">
      <p>
        友情链接
      </p>
      <a href="https://lengyueit.cn">学长冷月-计算机考研</a>
    </div>
    <!-- 底部文本 -->
    <footer style="text-align: center;font-size: 16px;color: #999;margin: 30px 0;">
      <span>
        2019-2021 Tech& Share版权所有
      </span>
      <br>
      <a target="_blank" style="color: inherit;" href="https://beian.miit.gov.cn/#/Integrated/index">
        豫ICP备19036000号
      </a>
    </footer>
  </body>
</html>
